<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>  
    <ion-item>
      <ion-label floating>Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block>Iniciar</button>
  <button ion-button block ion-button color="danger">Recuperar clave</button>
</ion-content>
