<!--
  Generated template for the NuevoItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>nuevoItem</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>  
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Detalles</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block>Crear</button>
</ion-content>
