<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="build"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h3 (click)="cargarLogin()"><ion-icon name="finger-print"></ion-icon> Login</h3>
    <h3 (click)="cargarRegistro()"><ion-icon name="person-add"></ion-icon> Registro</h3>
    <h3 (click)="cargarItem()"><ion-icon name="add-circle"></ion-icon> Nuevo Item</h3>
    <h3 (click)="cargarDetalle()"><ion-icon name="information-circle"></ion-icon> Detalle De Item</h3>
    <h3 (click)="cargarEditarItem()"><ion-icon name="document"></ion-icon> Editar Item</h3>
  </ion-list>

  <ion-list>
    <ion-item ion-item *ngFor="let item of items">
        <h2 >{{ item.titulo }}</h2>
        <h3 >{{ item.descripcion }}</h3>
    </ion-item>
  </ion-list>
</ion-content>
