<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>  
      <ion-item>
        <ion-label floating>Usuario</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block ion-button>Registrar</button>
</ion-content>
