<!--
  Generated template for the DetalleItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detalleItem</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
          Nombre
        </ion-card-header>
        <ion-card-content>
          Detalles del item.
        </ion-card-content>
      </ion-card>
      <button ion-button block ion-button (click)="volver()">Volver</button>
</ion-content>
